# Puerto del servidor Express
PORT=5000

# Cadena de conexión a MongoDB Atlas
# Formato: mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<nombre-bd>
MONGO_URI=mongodb+srv://yeimyherrera82222_db_user:llstNT4eU8lGVJOK@cluster0.tpowpr3.mongodb.net/

# Secreto para firmar tokens JWT — mínimo 32 caracteres, completamente random
JWT_SECRET=cambia_esto_por_una_cadena_secreta_de_minimo_32_caracteres

# Duración del token de acceso (RF-02)
JWT_EXPIRES_IN=24h

# Rondas de hashing para bcrypt (RNF-01 — mínimo 10)
BCRYPT_ROUNDS=10

# HTTPS local (opcional)
HTTPS=false
HTTPS_KEY=./ssl/localhost-key.pem
HTTPS_CERT=./ssl/localhost-cert.pem

# Entorno de ejecución
NODE_ENV=development